<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e16f71aa-b4fc-461b-956a-da5fd1059f10" name="Convertor 1 testsuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e16f71aa-b4fc-461b-956a-da5fd1059f10fileName">Project-1-TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>